#homepagesearch
	padding-top: 30px
.homepage
	padding-top: 30px
#primary
	order: 1
	-webkit-box-flex: 1
	-ms-flex: 1
	flex: 1 
	-webkit-box-ordinal-group: 2
	-ms-flex-order: 1
.sidebar-right
	#sidebar
		order: 2
		-webkit-box-ordinal-group: 3
		-ms-flex-order: 2
	    
.sidebar-left
	#sidebar
		order: 0
		-webkit-box-ordinal-group: 1
		-ms-flex-order: 0
+mobile
	#sidebar
		order: 2
		-webkit-box-ordinal-group: 3
		-ms-flex-order: 2
#homepage-featured
	display: block
	margin-top: 30px
	.slider-single
		overflow: hidden
		height: 340px
		position: relative
		article
			position: relative
		.postmeta
			position: absolute
			bottom: 15px
			left: 0px
			width: 100%
			background-color: rgba(0,0,0,0.4)
			.postmetawrap
				padding: 10px
			.postcats
				display: block
				margin-top: 5px
				a 
					display: inline-block
					padding: 3px 5px
					background-color: #fff
					color: #4A4A4A
					margin-right: 5px
					font-size: 0.7rem
					line-height: 1rem
					&:last-child
						margin-right: 0
			.posttitle
				display: block
				margin-top: 10px
				margin-bottom: 5px
				a 
					color: #fff 
					font-size: 1.4rem
					font-weight: bold
			.postexcerpt
				color: #fff 
				font-size: 0.9rem

			.postinfo
				margin-top: 5px
				span
					margin-right: 10px
					&:last-child
						margin-right: 0
				.postauthor, .postdate, .postviews, .postcomment
					font-size: 0.9rem
					color: #fff
				a
					font-size: 0.9rem
					color: #fff
		img
			width: 100%
			height: 170px
	.boxs
		overflow: hidden
		height: 340px
		.box-single
			height: auto
			max-height: 170px
			overflow: hidden
			position: relative
			article
				position: relative
			.postmeta
				position: absolute
				bottom: 10px
				left: 0px
				width: 100%
				background-color: rgba(0,0,0,0.4)
				.postmetawrap
					padding: 10px
				.postcats
					display: block
					margin-top: 5px
					a 
						display: inline-block
						padding: 3px 5px
						background-color: #fff
						color: #4A4A4A
						margin-right: 5px
						font-size: 0.7rem
						line-height: 1rem
						&:last-child
							margin-right: 0
				.posttitle
					display: block
					margin-top: 5px
					a 
						color: #fff 
						font-size: 1rem
						font-weight: bold
				.postexcerpt
					margin-top: 5px
					color: #fff 
					font-size: 0.9rem
				.postinfo
					margin-top: 5px
					span
						margin-right: 5px
						&:last-child
							margin-right: 0
					.postauthor, .postdate, .postviews, .postcomment
						font-size: 0.8rem
						color: #fff
					a
						font-size: 0.8rem
						color: #fff

			img
				width: 100%
				height: 170px
	.slider 
		overflow: hidden
		height: 340px
		.bx-conggiao
			position: relative
			padding: 0
			-ms-touch-action: pan-y
			touch-action: pan-y
			.bx-viewport
				height: 340px !important
			.slider-bg
				width: 100%
				height: 340px
				min-height: 200px
				max-height: 340px
			&:hover
				.bx-controls
					opacity: 1
			.bx-controls
				opacity: 0
				.bx-pager
					display: none
				.bx-controls-direction
					a
						opacity: 0.8
						color: #666
						font-size: 32px
						position: absolute
						top: 50%
						margin-top: -16px
						outline: 0
						z-index: 9999
						&.bx-prev
							left: 10px
						&.bx-next
							right: 10px
main#main
	display: block
	section.section
		margin-bottom: 30px
		.section-header
			display: block
			position: relative
			&.sep-style-1
				padding: 10px 0
				border-bottom: 1px solid #75D0ED
				.sep-style-1-bottom
					border-bottom: 3px solid #75D0ED
					bottom: 0
					content: ''
					display: inline-block
					left: 0
					position: absolute
					height: 3px
			&.sep-style-2
				.main-title
					padding: 10px 0 10px 10px
					border-left: 5px solid #75D0ED
					border-bottom: 1px solid #75D0ED
			&.sep-style-3
				padding: 10px 0
				.main-title
					.title
						display: inline-block
					.subtitle
						display: inline-block
						margin-left: 10px
			&.sep-style-4
				padding: 10px 0
				.main-title
					background-image: url(../images/layouts/header_sep_style4_symbol.png)
					background-repeat: repeat-x
					background-position: center center
					.title
						span
							background-color: #fff
							padding-right: 10px
		.section-content
			padding: 20px 0
			&.content-style-1
				.first-row
					article
						margin-left: 5px
					.small-box:last-child
						margin-top: 6px
				.other-row
					.small-box
						article
							margin-right: 5px
						&:last-child
							article
								margin-right: 0px
				.wide-box
					overflow: hidden
					max-height: 300px
					article
						max-height: 300px
					img
						&.post-thumb-img
							max-height: 300px
							width: 100%
					.posttitle
						margin-top: 5px
						font-size: 1.4rem
				.small-box
					overflow: hidden
					max-height: 150px
					article
						max-height: 150px
					img
						&.post-thumb-img
							max-height: 150px
							width: 100%
					.postmeta
						overflow: hidden
						.postmetawrap
							padding: 5px
						.posttitle
							font-size: 0.8rem
						.postinfo
							span
								margin-right: 5px
							.postauthor, .postdate, .postviews, .postcomment
								font-size: 0.8rem
							a
								font-size: 0.8rem
				article
					position: relative
					overflow: hidden
					a.post-link
						display: block
				.postmeta
					overflow: hidden
					position: absolute
					bottom: 0px
					left: 0px
					width: 100%
					background-color: rgba(0,0,0,0.4)
					.postmetawrap
						padding: 10px
					.postcats
						display: block
						margin-top: 5px
						a 
							display: inline-block
							padding: 3px 5px
							background-color: #fff
							color: #4A4A4A
							margin-right: 5px
							font-size: 0.7rem
							line-height: 1rem
							&:last-child
								margin-right: 0
					.posttitle
						display: block
						margin-top: 10px
						margin-bottom: 5px
						a 
							color: #fff 
							font-weight: bold
					.postexcerpt
						color: #fff 
						font-size: 0.9rem

					.postinfo
						margin-top: 5px
						span
							margin-right: 10px
							&:last-child
								margin-right: 0
						.postauthor, .postdate, .postviews, .postcomment
							font-size: 0.9rem
							color: #fff
						a
							font-size: 0.9rem
							color: #fff
			&.content-style-2
				article
					.postthumb
						position: relative
						max-height: 150px
						overflow: hidden
					img
						&.post-thumb-img
							width: 100%
							height: auto
					.postmeta
						display: block
						.postcats
							display: block
							margin-top: 5px
							a 
								display: inline-block
								padding: 3px 5px
								border: 1px solid #979797
								color: #4A4A4A
								margin-right: 5px
								font-size: 0.8rem
								line-height: 1rem
								&:last-child
									margin-right: 0
						.posttitle
							display: block
							margin: 10px 0
							a 
								font-size: 1.2rem
								font-weight: bold 
								color: #4A4A4A
						.postexcerpt
							display: block
							margin-top: 5px
							color: #6E6C6C
							font-size: 0.9rem
						.postinfo
							display: block
							margin-top: 10px
							color: #6E6C6C
							span
								margin-right: 6px
								&:last-child
									margin-right: 0
							.postauthor, .postdate, .postviews, .postcomment
								font-size: 0.9rem
								color: #6E6C6C
							.svg-inline--fa
								color: #6E6C6C
							a
								font-size: 0.9rem
								color: #6E6C6C
								word-wrap: break-word
			&.content-style-3
				article
					.postthumb
						position: relative
						max-height: 150px
						overflow: hidden
					img
						&.post-thumb-img
							width: 100%
							height: auto
				.postmeta
					display: block
					.postcats
						display: block
						margin-top: 5px
						a 
							display: inline-block
							padding: 3px 5px
							border: 1px solid #979797
							color: #4A4A4A
							margin-right: 5px
							font-size: 0.8rem
							line-height: 1rem
							&:last-child
								margin-right: 0
					.posttitle
						display: block
						margin: 10px 0
						a 
							font-size: 1.2rem
							font-weight: bold 
							color: #4A4A4A
					.postexcerpt
						display: block
						margin-top: 5px
						color: #6E6C6C
						font-size: 0.9rem
					.postinfo
						display: block
						margin-top: 10px
						color: #6E6C6C
						span
							margin-right: 6px
							&:last-child
								margin-right: 0
						.postauthor, .postdate, .postviews, .postcomment
							font-size: 0.9rem
							color: #6E6C6C
						.svg-inline--fa
							color: #6E6C6C
						a
							font-size: 0.9rem
							color: #6E6C6C
							word-wrap: break-word
				.wide-box
					img
						&.post-thumb-img
							width: 100%
							height: auto
					.postcats
						margin-top: 0px
					.postinfo
						margin-top: 5px
					.posttitle
						margin: 5px 0


