.archive-posts
	margin-top: 0
	padding: 0
	.column
		padding-top: 0
	.post-thumb, .posttitle, .postmeta, .postexcerpt, .postinfo
		display: block
		overflow: hidden
	.post-thumb
		max-height: 175px
	.posttitle
		padding: 15px
		a
			color: #4A4A4A
			font-weight: 600
	.postmeta
		font-size: 0.9rem
		padding: 0 15px
		color: #6E6C6C
	.postinfo
		color: #6E6C6C
		span
			font-size: 0.9rem
			margin-right: 10px
			&:last-child
				margin-right: 0
		a
			color: #6E6C6C
	.postexcerpt
		margin-bottom: 10px
		text-align: justify
	.c1
		.post-thumb
			img
				&.post-thumb-img
					width: 100%
		.posttitle
			a
				font-size: 1rem
	.c2
		.post-thumb
			img
				&.post-thumb-img
					width: 100%
		.posttitle
			a
				font-size: 1rem
	.c3
		.post-thumb
			img
				&.post-thumb-img
					width: 100%
		.posttitle
			a
				font-size: 1rem
		.postinfo
			span
				margin-right: 5px
				font-size: 0.85rem
	.c4
		.post-thumb
			img
				&.post-thumb-img
					width: 100%
		.posttitle
			a
				font-size: 1rem
		.postinfo
			span
				margin-right: 5px
				font-size: 0.85rem
	article
		background-color: #fff
		padding-bottom: 10px

+mobile
	.archive-posts
		.posttitle
			padding: 10px 0
			a
				font-size: 1rem
.pagination
	.wp-pagenavi
		.pages, .last
			display: none
		.current
			min-width: 2.25em
			color: $pagination-color
			padding-left: 0.75em
			padding-right: 0.75em