+mobile
	#content
		padding: 0
		#primary, #sidebar
			margin: 20px 0
+tablet
	#content
		padding: 0
		#primary, #sidebar
			margin: 20px 0
+desktop
	#content
		padding: 0
		#primary, #sidebar
			margin: 20px 0

.header-section
	padding: 30px 0

.single-content
	background-color: #fff
	padding: 20px
	border-radius: 2px

.single-meta
	padding: 15px
	background-color: #fff
	border-radius: 4px
	.single-content-meta
		margin-top: 5px !important
		a
			color: #6E6C6C
		span
			color: #6E6C6C
			margin-right: 10px
			&:last-child
				margin-right: 0px
	.single-content-size
		text-align: right
		.content-size
			border: 1px solid #efefef
			background-color: #fff
			padding: 5px 7px
			margin-right: 5px
			border-radius: 4px
			&:last-child
				margin-right: 0px
			i, .svg-inline--fa
				color: #3d3d3e
			&.content-small
				font-size: 0.7rem
			&.content-normal
				font-size: 0.8rem
			&.content-medium
				font-size: 1.1rem
			&.content-large
				font-size: 1.4rem
+mobile
	.single-meta
		.single-content-size
			text-align: center
#comments 
	margin-top: 20px
	background-color: #fff
	padding: 20px

#related_posts
	margin-top: 20px
	background-color: #fff
	padding: 20px
	.post-thumb
		max-height: 180px
		overflow: hidden
		margin-bottom: 10px
		img
			&.post-thumb-img
				width: 100%
		padding: 0
		#primary, #sidebar
			margin: 20px 0

.content 
	.entry-content
		p 
			overflow: auto
		img 
			&.alignleft
				float: left 
				margin-right: 10px
			&.alignright
				float: left 
				margin-right: 10px
