+mobile
	#content
		padding: 0
		#primary, #sidebar, 
			margin: 10px
		.header-section
			margin: 0 10px
+tablet
	#content
		padding: 0
		#primary, #sidebar, .header-section
			margin: 10px
+desktop
	#content
		padding: 0
		#primary, #sidebar
			margin: 20px 0
		.header-section
			margin: 0

.header-section
	padding: 20px 0 10px 0

.single-content
	background-color: #fff
	padding: 20px
	border-radius: 2px

.single-meta
	padding: 15px
	background-color: #fff
	border-radius: 4px
	.single-content-meta
		margin-top: 5px !important
		a
			color: #6E6C6C
		span
			color: #6E6C6C
			margin-right: 10px
			&:last-child
				margin-right: 0px
	.single-content-size
		text-align: right
		.content-size
			border: 1px solid #efefef
			background-color: #fff
			padding: 5px 7px
			margin-right: 5px
			border-radius: 4px
			&:last-child
				margin-right: 0px
			i, .svg-inline--fa
				color: #3d3d3e
			&.content-small
				font-size: 0.7rem
			&.content-normal
				font-size: 0.8rem
			&.content-medium
				font-size: 1.1rem
			&.content-large
				font-size: 1.4rem
+mobile
	.single-meta
		.single-content-size
			text-align: center
#comments 
	margin-top: 20px
	background-color: #fff
	padding: 20px
	border-radius: 4px

#related_posts
	margin-top: 20px
	background-color: #fff
	padding: 20px
	border-radius: 4px
	.post-thumb
		max-height: 180px
		overflow: hidden
		margin-bottom: 10px
		img
			&.post-thumb-img
				width: 100%
		padding: 0
		#primary, #sidebar
			margin: 20px 0

.content 
	.entry-content
		p
			&:after
				content: ""
				clear: both
				display: table
		.wp-caption
			max-width: 100% !important
			border-radius: 4px
			overflow: hidden
			margin: 20px 0
			background-color: #efefef
			position: relative
			&:after
					content: ""
					clear: both
					display: table
			&>img 
				width: 100%
			&.aligncenter
				display: block
				margin: 0 auto
			&.alignleft
				display: block
				float: left 
				margin-right: 0px
			&.alignright
				display: block
				float: right 
				margin-right: 0px
			.wp-caption-text
				padding: 5px 15px 10px 15px
				font-weight: italic

		img 
			&.aligncenter
				display: block
				margin: 0 auto
			&.alignleft
				content: ""
				clear: both
				display: table
				float: left 
				margin-right: 10px
				
			&.alignright
				content: ""
				clear: both
				display: table
				float: right 
				margin-right: 10px
			
.content table td, .content table th
	border: 1px solid grey
	border-width: 1px